<footer class="py-4 bg-dark text-white navbar fixed-bottom">
  <div class="container custom-footer-container text-center">
    <small>Copyright &copy; <%= link_to "Sanari", "#", class: "text-white" %></small>
  </div>
</footer>